body {
    background-color: aqua;
}

#flex {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
}

.flexBox {
    width: 40vw;
    height: 25vh;
    margin: 25px;
}

.header {
    text-align: center;
    color: white;
    background-color: black;
}